td{
    border: 1px solid black;
    padding: 4px;
}

tbody tr:nth-child(2n){
    background-color: var(--secondaryColor);
    transition: 1s;
}
tbody tr:nth-child(2n-1){
    background-color: var(--thirdColor);
    transition: 1s;
}

tbody tr:hover{
    background-color: white;
}

.table-container{
    overflow-x: auto;
    overflow-y: hidden;
}

caption{
    caption-side: bottom;
}


@media screen and (max-width: 600px) {
    table {
        border-spacing: 10px;
        border-collapse: separate;
    }
}
