<!doctype html>
<html lang="en">
<head>
    <%- include('../fragmente/head')%>
    <title>Eroare 404</title>
</head>
<body>

<%- include('../fragmente/nav_bar')%>

<h1>Become an investor</h1>

<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Adipisci assumenda ducimus, excepturi facere, illo iste iusto laboriosam modi molestias optio placeat, possimus quas tenetur vel voluptate. Consectetur ducimus natus quos!</p>
<br>
<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Asperiores blanditiis cupiditate deleniti, ducimus error exercitationem facere impedit minus nihil nisi perferendis quas, quibusdam quidem quos ratione sit voluptatem. Architecto, aspernatur!</p>

<%- include('../fragmente/footer')%>


</body>
</html>