<!doctype html>
<html lang="en">
<head>
    <%- include('../fragmente/head')%>
    <title>Eroare 404</title>
</head>
<body>

<%- include('../fragmente/nav_bar')%>

<h2>FORBIDDEN</h2>

<img src="assets/forbidden.png" alt="forbidden">

<%- include('../fragmente/footer')%>


</body>
</html>