<!doctype html>
<html lang="en">
<head>

    <%- include("../fragmente/head") %>
    <title>Simple Properties</title>
</head>
<body>

<%- include("../fragmente/nav_bar", {optiuni: optiuni}) %>

<%- include('../fragmente/galerie_static', {imagini:imagini, cale: cale}) %>

</body>
</html>