<!DOCTYPE html>
<html  lang="ro">
    <head>
        <link rel="stylesheet" href="/assets/css/produse.css" type="text/css" />
        <title>Simple properties</title>
        <%- include("../fragmente/head") %>     
        <script type="text/javascript" src=/assets/js/produse.js></script>
    </head>
    <body>

    <main>
    Ai fost delogat!
</main>

<footer>
    <%- include('../fragmente/footer') %>
</footer>

</body>
</html>