<!doctype html>
<html lang="en">
<head>
    <%- include('../fragmente/head')%>
    <title>Eroare 404</title>
</head>
<body>

    <%- include('../fragmente/nav_bar')%>

    <h2>NOT FOUND</h2>

    <img src="assets/not_found.png" alt="not found">

    <%- include('../fragmente/footer')%>


</body>
</html>