<footer>
    <div class="footer-container">

        <a href="#header">Go up</a>
        <a target="_blank"
           href="https://docs.google.com/document/d/1q0FHbTivGG48YJo75gg_5e1QoMOjoCHP1zbDrLlfXjc/edit?usp=sharing">Go to
            doc</a>
        <address>
            Phone: <a href="tel:+40712345678">+407 123 456 78</a>
            Address: Str. Mircea Eliade
            Email: <a href="mailto:contact@simple.com">contact@simple.com</a><br>
        </address>

        <small>
            Simple Properties &copy;
            <time datetime="2021-10-16">2021-10-16</time>
        </small>
    </div>
    <a href="#header" class="up-button" >
        <div class="up-icon-container">

            <div class="up-icon">

            </div>
        </div>
        <p class="tooltip">Sus</p>
    </a>
</footer>