<form id="form_inreg"  method="post" class="date"  action="/login"  enctype="multipart/form-data">
<p>
    <label>
        Parola: <input id="parl" type="password" required  name="parola" value="">
    </label>
</p>
<p>
    <label>
        username: <input type="text" name="username" id="inp-username" required value="bog3"  size="50">
    </label>
</p>

    <p>
        <input type="submit" value="Trimite">
        <input type="reset" value="Reseteaza">
    </p>
</form>