<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="ie=edge">

<meta name="author" content="Marin Bogdan">
<meta name="keywords" content="buildings, properties, home, tech homes ">
<meta name="description" content="Find our new collection of clothes">
<link rel="shortcut icon" type="image/x-icon" href="https://img.icons8.com/ios/50/000000/constructing.png">
<title>Simple Properties</title>
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel="stylesheet" href="css/reset_styles.css" type="text/css">
<link rel="stylesheet" href="css/home.css" type="text/css">
<link rel="stylesheet" href="css/nav.css" type="text/css">
<link rel="stylesheet" href="css/nav-bar.css" type="text/css">
<link rel="stylesheet" href="css/print_style.css" type="text/css">
<link rel="stylesheet" href="css/up-icon.css" type="text/css">
<script src="https://kit.fontawesome.com/0c06f6cd60.js" crossorigin="anonymous"></script>

