
<nav class="nav-bar">
    <label for="hamburger" class="hamburger">&#9776;</label>
    <input type="checkbox" id="hamburger"/>

    <ul class="nav-list">
        <li class="nav-menu">
            <a href="/" id="company-name">Simple Properties</a>
            <i class="fa fa-home icon-properties"></i>
        </li>
        <li class="nav-menu">
            <div class="nav-item">
                <a href="/">Home</a>
            </div>
            <ul class="nav-submenu">
                <li class="nav-item nav-item-submenu"><a href="/#aboutSection">About</a></li>
                <li class="nav-item nav-item-submenu"><a href="/#buyHomeSection">Buy from us</a></li>
            </ul>
        </li>
        <li class="nav-menu">
            <div class="nav-item">
                <a href="app/html/about.html">Your home</a>

            </div>
            <ul class="nav-submenu">
                <li class="nav-item nav-item-submenu">
                    <a href="/">
                        Hire a designer
                    </a>
                </li>
                <li class="nav-item nav-item-submenu">
                    <a href="/">
                        Get furniture
                    </a>
                </li>
                <li class="nav-item nav-item-submenu">
                    <a href="/">
                        Clean energy
                    </a>
                </li>
            </ul>
        </li>
        <li class="nav-menu">
            <div class="nav-item">
                <a href="http://localhost:8080/be_investor">Be an investor</a>
            </div>
        </li>
        <li class="nav-menu">
            <div class="nav-item">
                <a href="http://localhost:8080/produse">Produse</a>
            </div>
            <ul  class="nav-submenu">
                <%for (let i of optiuni){%>
                    <li class="nav-item nav-item-submenu">
                        <a href=<%=`http://localhost:8080/produse?tip=${i}`%>>
                        <%= i%>

                        </a>
                    </li>
                <%}%>
            </ul>
        </li>
    </ul>
</nav>